<div
  class="min-h-screen py-40"
  style="background-image: linear-gradient(115deg, #9f7aea, #fee2fe)"
>
  <div class="container mx-auto">
    <div
      class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden"
    >
      <div
        class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover"
        style="
          background-image: url('../assets/images/Freda\ Book\ Image\ 8.jpg');
        "
      >
        <h1 class="text-white text-3xl">Welcome</h1>
        <div>
          <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni aut a
            natus cum, aperiam dicta debitis ex et totam illum explicabo quam
            similique mollitia odit corrupti maiores error aliquid sunt.
          </p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 py-16 px-12">
        <h1 class="text-3xl mb-4">Register</h1>
        <p class="mb-4">Create a free account, it will only take a minute</p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-2 gap-5">
            <input
              type="text"
              placeholder="First Name"
              class="border border-gray-400 py-1 px-2 rounded-sm"
              formControlName="firstName"
            />
            <span *ngIf="f['firstName'].errors?.['required'] && f['firstName'].touched" class="text-sm text-red-600" >
              Please Enter a valid name
            </span>
            <input
              type="text"
              placeholder="Last Name"
              class="border border-gray-400 py-1 px-2 rounded-sm"
              formControlName="lastName"
            />
            <span *ngIf="f['lastName'].errors?.['required'] && f['lastName'].touched" class="text-sm text-red-600" >
              Please Enter a valid name
            </span>
          </div>
          <div class="mt-5">
            <input
              type="email"
              placeholder="Email"
              class="border border-gray-400 py-1 px-2 w-full rounded-sm"
              formControlName="email"
            />
            <span *ngIf="f['email'].errors?.['required'] && (f['email'].touched || f['email'].dirty )" class="text-sm text-red-600" >
              Please Enter a valid email
            </span>
          </div>
          <div class="mt-5">
            <input
              type="password"
              placeholder="Password"
              class="border border-gray-400 py-1 px-2 w-full rounded-sm"
              formControlName="password"
            />
            <span *ngIf="f['password'].errors?.['required'] && f['password'].touched" class="text-sm text-red-600" >
              Please Enter a valid password
            </span>
          </div>
          <div class="mt-5">
            <input
              type="password"
              placeholder="Confirm Password"
              class="border border-gray-400 py-1 px-2 w-full rounded-sm"
              formControlName="confirmPass"
            />
            <span *ngIf="f['confirmPass'].errors?.['confirmMatch'] && f['confirmPass'].dirty" class="text-sm text-red-600" >
              Password doesn't match
            </span>
          </div>
          <div class="mt-5">
            <input type="checkbox" class="border border-gray-400" />
            <span>
              I accept the
              <a href="#" class="text-purple-500 font-semibold">Terms of use</a>
              &
              <a href="#" class="text-purple-500 font-semibold"
                >Privacy Policy</a
              >
            </span>
          </div>
          <div class="mt-5">
            <button
              class="bg-purple-500 w-full py-3 rounded-md shadow-lg text-white"
              type="submit"
              [disabled]="!registerForm.valid"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
